
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:200,300,400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Muli:200,300" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<section class="bg-color-grey banner">
		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col is-5">
					<img class="profile-pic" src="20200407_111516_0000.png" alt="Profile Picture">
				</div>
				<div class="col"></div>
			</div>
		</div>
	</section>

	<section class="bg-color-white primary-info">
		<div class="container">
			<div class="row name-title-company">
				<div class="col is-6">
					<p class="text-name">Pharma vida</p>
					<p class="text-title-company">Farmácia</p>
					<p class="text-title-company">Saúde e Suplementos</p>
				</div>
				<div class="col">
					<img src="PNGfile.png" alt="Company Logo">
				</div>
			</div>
		</div>
	</section>

	<section class="bg-color-white secondary-info">
		<a href="mailto:contato@pharmavidapa.com">
			<div class="container">
				<div class="row detail">
					<div class="col">
						<img src="assets/icon-email.svg" alt="Email Icon"">
					</div>
					<div class="col is-8">
						<p class="text-detail">contato@pharmavidapa.com</p>
					</div>
					<div class="col">
						<img src="assets/right-arrow.svg" alt="Right Arrow" height="50%" width="40%">
					</div>
				</div>
			</div>
		</a>
	</section>

	<section class="bg-color-white secondary-info">
		<a href="tel:094991648740">
			<div class="container">
				<div class="row detail">
					<div class="col">
						<img src="assets/icon-phone.svg" alt="Phone Icon"">
					</div>
					<div class="col is-8">
						<p class="text-detail">094991648740</p>
					</div>
					<div class="col">
						<img src="assets/right-arrow.svg" alt="Right Arrow" height="50%" width="40%">
					</div>
				</div>
			</div>
		</a>
	</section>

	<section class="bg-color-white secondary-info">
		<a href="https://www.pharmavidapa.com">
			<div class="container">
				<div class="row detail">
					<div class="col">
						<img src="assets/icon-website.svg" alt="Website Icon"">
					</div>
					<div class="col is-8">
						<p class="text-detail">pharmavidapa.com</p>
					</div>
					<div class="col">
						<img src="assets/right-arrow.svg" alt="Right Arrow" height="50%" width="40%">
					</div>
				</div>
			</div>
		</a>
	</section>

	<section class="bg-color-white secondary-info">
		<a href="https://www.google.com/maps/dir/-4.4434914,-49.1143514/pharma+vida/@-4.4474547,-49.120341,16z/
                data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x92c1198cd828f1a1:0xed6609dfe920c045!2m2!1d-49.1172689!2d-4.4521063">
			<div class="container">
				<div class="row detail">
					<div class="col">
						<img src="assets/icon-address.svg" alt="Address Icon"">
					</div>
					<div class="col is-8">
						<p class="text-detail">Av. Cristo Rei, 327 - Boa Esperança</p>
					</div>
					<div class="col">
						<img src="assets/right-arrow.svg" alt="Right Arrow" height="50%" width="40%">
					</div>
				</div>
			</div>
		</a>
	
  {% include 'og_meta_tags' %}

  <!-- Favicons -->
 <link rel="icon" href="{% if options.favicon != empty %} {{ options.favicon }} {% else %} {{"favicon.png" | asset }} {% endif%}">

  <!-- CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ 'style.css' | asset }}">
  <link rel="stylesheet" href="{{ 'style-responsive.css' | asset }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css">
  <link rel="stylesheet" href="{{ 'vertical-rhythm.min.css' | asset }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.css">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  {% if options.display_cart_notification %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  {% endif %}
  <link rel="stylesheet" href="{{ 'custom.css' | asset }}">
  <link rel="stylesheet" href="{{ 'slider.css' | asset }}">

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  {% if options.display_cart_notification %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  {% endif %}

  {% if template == 'home' %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  {% endif %}

  {% include 'fonts'%}


  {% include 'schema' %}
	 <meta name='google-site-verification' content='81MRGUQwYhmeM5vs6OlhgZHmiHU25mCyJACZXreNvnw'/> 
 </head>

<body class="appear-animate">
  <!-- Page Wrap -->
  <div class="page" id="top">

    <!-- Navigation panel -->
    <nav id="topbar" class="main-nav stick-fixed">
      <div class="full-wrapper relative clearfix">

        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
          {% if store.logo != empty %}
          <a href="{{breadcrumbs.first.url}}" class="logo"><img src="{{store.logo}}" id="store-image" alt="{{store.name}}" width="118" height="27"></a>
          {% else %}
          {% if template == 'home' %}
          <h1 id="store-logo" class="font-alt logo-style"><a href="{{breadcrumbs.first.url}}" class="{{options.homepage_text_color}}">{{store.name}}</a></h1>
          {% else %}
          <div id="store-logo" class="font-alt logo-style"><a href="{{breadcrumbs.first.url}}" class="{{options.homepage_text_color}}">{{store.name}}</a></div>
          {% endif %}
          {% endif %}
        </div>

        <div class="mobile-nav"><i class="fas fa-bars"></i></div>
        {% if options.disable_shopping_cart != true %}
        <div class="cart-icon hidden-lg hidden-md">
          <a id="cart-link" href="{{order.url}}"><i class="fas fa-shopping-cart"></i> <span class="badge">{{order.products_count}}</span></a>
        </div>
        {% endif %}
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
          <ul class="clearlist scroll-nav local-scroll">
            {% for item in menu.main.items %}
              {% include 'navigation_menu' with item %}
            {% endfor %}
            <!-- Search -->
            <li>
            <a href="#" class="mn-has-sub"><i class="fas fa-search"></i>{% t "Search" %}</a>

            <ul class="mn-sub">

              <li>
                <div class="mn-wrap">
                  <form method="get" class="form" action="{{search.url_send}}">
                    <div class="search-wrap">
                      <button class="search-button animate" type="submit" title="{% t "Start Search" %}">
                        <i class="fas fa-search"></i>
                      </button>
                      <input type="text" class="form-control search-field" value="{{search.query}}" name="q" placeholder="{% t "Search..." %}">
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </li>
          <!-- End Search -->

            {% if store.customers_enabled %}
          <!-- Login Link -->
          <li>
            <a href="{% if customer %}{{customer_account_url}}{% else %}{{customer_login_url}}{% endif %}">
                <i class="fas fa-user"></i>
                {% if customer %}
                  {% t "Account" %}
                {% else %}
                  {% t "Login" %}
              {% endif %}
            </a>
          </li>
          {% endif %}

          {% if customer %}
          <li>
            <a href="{{customer.logout_url}}">
              <i class="fas fa-times"></i>
              <span class="hide-for-small">{% t 'Logout' %}</span>
            </a>
          </li>
          {% endif %}

          <!-- Cart -->
          {% if options.disable_shopping_cart != true %}
          <li>
            <a id="cart-link" href="{{order.url}}"><i class="fas fa-shopping-cart"></i> {% t 'Cart' %} ({{order.products.size}})</a>
          </li>
          {% endif %}
          <!-- End Cart -->

          <!-- Languages -->
          {% if languages.size > 1 %}
          <li>
            <a href="#" class="mn-has-sub">{{languages.first.name}}<i class="fas fa-angle-down"></i></a>

            <ul class="mn-sub">
              {% for language in languages %}
              <li><a href="{{language.url}}">{{language.name}}</a></li>
              {% endfor %}
            </ul>

          </li>
          {% endif %}
          <!-- End Languages -->

          <!-- Currencies -->
          {% if options.currencies != blank and options.open_exchange_rates_token != blank %}
          {% assign store_currencies = options.currencies | split: ',' %}
          <li>
            <a id="current_currency" href="#" class="mn-has-sub">{{store.currency_code}}<i class="fas fa-angle-down"></i></a>

            <ul class="mn-sub">
              <li><a href="#" onclick="Jumpseller.setCurrency('{{store.currency_code}}');">{{store.currency_code}}</a></li>
              {% for currency in store_currencies %}
              <li><a href="#" onclick="Jumpseller.setCurrency('{{currency}}');">{{currency}}</a></li>
              {% endfor %}
            </ul>

          </li>
          {% endif %}
          <!-- End Currencies -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navigation panel -->

    
    {{content}}

    {% if menu.footer.items != empty %}
    <div class="page-section footer-menu pb-0 pt-0 align-center">
      <div class="container">
        <ul class="text-center no-bullet">
          {% for item in menu.footer.items %}
          {% include 'navigation_footer' with item %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <!-- Footer -->
    <footer class="page-section footer pb-20 pt-30">
      <div class="container">

        <!-- Footer Logo -->
        <div class="local-scroll wow fadeInUp mb-40 mb-xs-40" data-wow-duration="1.5s">
          <div class="local-scroll wow fadeInUp mb-40 mb-xs-40" data-wow-duration="1.5s">
          {% if options.logo_footer != blank %}
          <a href="#top"><img class="mt-40" src="{{ options.logo_footer }}" width="100" alt="{{store.name}}" /></a>
          {% elsif store.logo != empty %}
          <a href="#top"><img class="mt-40" src="{{store.logo}}" width="100" alt="{{store.name}}" /></a>
          {% endif %}
        </div>
        </div>
        <!-- End Footer Logo -->

        <!-- Social Links -->
        <div class="footer-social-links mb-40 mb-xs-40">
          {% if social.facebook_url != blank %}<a href="{{ social.facebook_url }}" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
          {% if social.twitter_url != blank %}<a href="{{ social.twitter_url }}" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
          {% if social.pinterest_url != blank %}<a href="{{ social.pinterest_url }}" title="Pinterest" target="_blank"><i class="fab fa-pinterest"></i></a>{% endif %}
          {% if social.instagram_url != blank %}<a href="{{ social.instagram_url }}" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>{% endif %}
          {% if social.whatsapp_url != blank %}<a href="{{ social.whatsapp_url }}&text={% t 'Hello'%} {{store.name}}!" title="Whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>{% endif %}
          {% if social.youtube_url != blank %}<a href="{{ social.youtube_url }}" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>{% endif %}
        </div>
        <!-- End Social Links -->



        
        
        
      

               
    </ul>
  </div>
  <div class="col-2">
      
  </div>
</div>




      
    </div>
  </div>
  
    <div id="desktop-additions" class="desktop-only">
</body>

</html>
